body{
    background-color: rgb(156, 180, 245);
    color: aliceblue;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    margin: 120px;
}

button{
    background-color: rgb(43, 137, 226);
    color: aliceblue;
    font-family: cursive;
    border-radius: 10px;
    border-color: rgb(50, 35, 185);
}